{{ header }}{{ column_left }}
<style>
    .well-sm {
        height: 205px;
        overflow: auto;
    }

    .form-group:before, .form-group:after {
        content: " ";
        display: table;
    }

    .form-group:after {
        clear: both;
    }

    .form-group input[type="text"] {
        min-width: 56px;
    }
</style>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary" onclick="$('#form').submit();">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"
                   onclick="location = '{{ cancel }}';">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breabcrumb in breadcrumbs %}
                    <li><a href="{{ breabcrumb.href }}">{{ breabcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i>
                {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    {{ heading_title }}
                </h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-seogen">
                    <input type="hidden"
                           name="seogenoc3[main_category_exists]"
                           value="{{ seogenoc3['main_category_exists'] is defined and seogenoc3['main_category_exists'] ? 1 : 0 }}">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">
                            <span data-toggle="tooltip" title="{{ help_status }}">{{ entry_status }}</span>
                        </label>
                        <div class="col-sm-4">
                            <select name="seogenoc3_status" id="input-status" class="form-control">
                                {% if seogenoc3_status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="seogen_language_id">{{ entry_language }}</label>
                        <div class="col-sm-4">
                            <select name="seogenoc3[language_id]" id="seogen_language_id" class="form-control">
                                {% for lang in languages %}
                                    <option value="{{ lang['language_id'] }}">{{ lang['name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="seogen_profile">{{ text_profiles }}</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-4">
                                    <select id="seogen_profile" onchange="changeProfile(this)" class="form-control">
                                        <option data-id="0" id="profile-0">--</option>
                                        {% for profile in profiles %}
                                            <option data-id="{{ profile['profile_id'] }}"
                                                    id="profile-{{ profile['profile_id'] }}">
                                                {{ profile['name'] }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <button onclick="delProfile()" class="btn btn-primary"
                                            type="button">{{ text_delete }}</button>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" name="seogenoc3_profile_name" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <button onclick="addProfile()" class="btn btn-primary"
                                            type="button">{{ text_add }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="including">
                        <label class="col-sm-2 control-label">
                            <span data-toggle="tooltip" title="{{ help_category }}">{{ entry_category }}</span>
                        </label>
                        <div class="col-sm-4">
                            <div class="well well-sm">
                                {% set selected_categories = [] %}
                                {% for category in categories %}
                                    <div>
                                        {% if category['category_id'] not in seogenoc3['only_categories'] %}
                                            <input type="checkbox" name="seogenoc3[only_categories][]"
                                                   value="{{ category['category_id'] }}"/>
                                            {{ category['name'] }}
                                        {% else %}
                                            <input type="checkbox" name="seogenoc3[only_categories][]"
                                                   value="{{ category['category_id'] }}" checked="checked"/>
                                            {{ category['name'] }}
                                            {% if selected_categories|length < 5 %}{% set selected_categories = category['name'] %}{% endif %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <label class="col-sm-2 control-label">
                            <span data-toggle="tooltip" title="{{ help_manufacturer }}">{{ entry_manufacturer }}</span>
                        </label>
                        <div class="col-sm-4">
                            <div class="well well-sm">
                                {% set selected_manufacturers = [] %}
                                {% for manufacturer in manufacturers %}
                                    <div>
                                        {% if manufacturer['manufacturer_id'] not in seogenoc3['only_manufacturers'] %}
                                            <input type="checkbox" name="seogenoc3[only_manufacturers][]"
                                                   value="{{ manufacturer['manufacturer_id'] }}"/>
                                            {{ manufacturer['name'] }}
                                        {% else %}
                                            <input type="checkbox" name="seogenoc3[only_manufacturers][]"
                                                   value="{{ manufacturer['manufacturer_id'] }}" checked="checked"/>
                                            {{ manufacturer['name'] }}
                                            {% if selected_manufacturers|length < 5 %}{% set selected_manufacturers = manufacturer['name'] %}{% endif %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-categories" data-toggle="tab">{{ tab_categories }}</a></li>
                        <li><a href="#tab-products" data-toggle="tab">{{ tab_products }}</a></li>
                        <li><a href="#tab-manufacturers" data-toggle="tab">{{ tab_manufacturers }}</a></li>
                        <li><a href="#tab-informations" data-toggle="tab">{{ tab_informations }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-categories">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <button onclick="generate('categories');"
                                            class="btn btn-primary"
                                            type="button">
                                        {{ text_generate }}
                                    </button>
                                </div>
                                <div class="col-sm-10">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-1">
                                        <label>{{ entry_overwrite }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_categories }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="seogenoc3[categories_template]"
                                                       value="{{ seogenoc3['categories_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_categories_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[categories_overwrite]"
                                                    {% if (seogenoc3['categories_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip"
                                          title="{{ help_show_expr }}">
                                          {{ text_categories_meta_h1 }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="seogenoc3[categories_meta_h1_template]"
                                                       value="{{ seogenoc3['categories_meta_h1_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_categories_meta_h1_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite" type="checkbox"
                                                   name="seogenoc3[categories_meta_h1_overwrite]"
                                                    {% if (seogenoc3['categories_meta_h1_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip"
                                          title="{{ help_show_expr }}">
                                        {{ text_categories_meta_title }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="seogenoc3[categories_meta_title_template]"
                                                       value="{{ seogenoc3['categories_meta_title_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_categories_meta_title_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite" type="checkbox"
                                                   name="seogenoc3[categories_meta_title_overwrite]"
                                                    {% if (seogenoc3['categories_meta_title_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_categories_meta_keyword }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="seogenoc3[categories_meta_keyword_template]"
                                                       value="{{ seogenoc3['categories_meta_keyword_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_categories_meta_keyword_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[categories_meta_keyword_overwrite]"
                                                    {% if (seogenoc3['categories_meta_keyword_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip"
                                          title="{{ help_show_expr }}">{{ text_categories_meta_description }}</span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="seogenoc3[categories_meta_description_template]"
                                                       value="{{ seogenoc3['categories_meta_description_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_categories_meta_description_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[categories_meta_description_overwrite]"
                                                    {% if (seogenoc3['categories_meta_description_overwrite'] is defined) %} {{ "checked='checked'" }}{% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_meta_description_limit }}
                                </label>
                                <div class="col-sm-1">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="seogenoc3[categories_meta_description_limit]"
                                                       class="form-control"
                                                       value="{{ seogenoc3['categories_meta_description_limit'] }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="categories_description_template">
                                    {{ text_categories_description }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="form-group">
                                                <textarea class="summernote"
                                                          id="categories_description_template"
                                                          cols="125"
                                                          rows="2"
                                                          data-toggle="summernote"
                                                          name="seogenoc3[categories_description_template]">
                                                    {{ seogenoc3['categories_description_template'] }}
                                                </textarea>
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_categories_description_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[categories_description_overwrite]"
                                                    {% if seogenoc3['categories_description_overwrite'] is defined %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_use_expressions }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   class="form-control"
                                                   name="seogenoc3[categories_use_expressions]"
                                                    {% if seogenoc3['categories_use_expressions'] is defined %} {{ "checked='checked'" }} {% endif %}>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <button onclick="generate('categories');"
                                                        class="btn btn-primary"
                                                        type="button">{{ text_generate }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-products">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <button onclick="generate('products');"
                                            class="btn btn-primary"
                                            type="button">
                                        {{ text_generate }}
                                    </button>
                                </div>
                                <div class="col-sm-10">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-1">
                                        <label>{{ entry_overwrite }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_products }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="seogenoc3[products_template]"
                                                       value="{{ seogenoc3['products_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_products_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[products_overwrite]"
                                                    {% if (seogenoc3['products_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip"
                                          title="{{ help_show_expr }}">
                                          {{ text_products_meta_h1 }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="seogenoc3[products_meta_h1_template]"
                                                       value="{{ seogenoc3['products_meta_h1_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_products_meta_h1_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite" type="checkbox"
                                                   name="seogenoc3[products_meta_h1_overwrite]"
                                                    {% if (seogenoc3['products_meta_h1_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip"
                                          title="{{ help_show_expr }}">
                                        {{ text_products_meta_title }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="seogenoc3[products_meta_title_template]"
                                                       value="{{ seogenoc3['products_meta_title_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_products_meta_title_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite" type="checkbox"
                                                   name="seogenoc3[products_meta_title_overwrite]"
                                                    {% if (seogenoc3['products_meta_title_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_categories_meta_keyword }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="seogenoc3[products_meta_keyword_template]"
                                                       value="{{ seogenoc3['products_meta_keyword_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_products_meta_keyword_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[products_meta_keyword_overwrite]"
                                                    {% if (seogenoc3['products_meta_keyword_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip"
                                          title="{{ help_show_expr }}">{{ text_products_meta_description }}</span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="seogenoc3[products_meta_description_template]"
                                                       value="{{ seogenoc3['products_meta_description_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_products_meta_description_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[products_meta_description_overwrite]"
                                                    {% if (seogenoc3['products_meta_description_overwrite'] is defined) %} {{ "checked='checked'" }}{% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_meta_description_limit }}
                                </label>
                                <div class="col-sm-1">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="seogenoc3[products_meta_description_limit]"
                                                       class="form-control"
                                                       value="{{ seogenoc3['products_meta_description_limit'] }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="products_description_template">
                                    {{ text_products_description }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="form-group">
                                                <textarea class="summernote"
                                                          id="products_description_template"
                                                          cols="125"
                                                          rows="2"
                                                          data-toggle="summernote"
                                                          name="seogenoc3[products_description_template]">
                                                    {{ seogenoc3['products_description_template'] }}
                                                </textarea>
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_products_description_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[products_description_overwrite]"
                                                    {% if seogenoc3['products_description_overwrite'] is defined %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="products_description_template">
                                    {{ text_products_tag }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="seogen[products_tag_template]"
                                                       value="{{ seogen['products_tag_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_products_tag_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogen[products_tag_overwrite]"
                                                    {% if seogenoc3['products_tag_overwrite'] is defined %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="products_description_template">
                                    {{ text_products_model }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="seogen[products_model_template]"
                                                       value="{{ seogen['products_model_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_products_model_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogen[products_model_overwrite]"
                                                    {% if seogenoc3['products_model_overwrite'] is defined %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_use_expressions }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   class="form-control"
                                                   name="seogenoc3[products_use_expressions]"
                                                    {% if seogenoc3['products_use_expressions'] is defined %} {{ "checked='checked'" }} {% endif %}>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <button onclick="generate('products');"
                                                        class="btn btn-primary"
                                                        type="button">{{ text_generate }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-manufacturers">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <button onclick="generate('manufacturers');"
                                            class="btn btn-primary"
                                            type="button">
                                        {{ text_generate }}
                                    </button>
                                </div>
                                <div class="col-sm-10">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-1">
                                        <label>{{ entry_overwrite }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_categories }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="seogenoc3[manufacturers_template]"
                                                       value="{{ seogenoc3['manufacturers_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_manufacturers_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[manufacturers_overwrite]"
                                                    {% if (seogenoc3['manufacturers_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip"
                                          title="{{ help_show_expr }}">
                                          {{ text_manufacturers_meta_h1 }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="seogenoc3[manufacturers_meta_h1_template]"
                                                       value="{{ seogenoc3['manufacturers_meta_h1_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_manufacturers_meta_h1_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite" type="checkbox"
                                                   name="seogenoc3[manufacturers_meta_h1_overwrite]"
                                                    {% if (seogenoc3['manufacturers_meta_h1_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip"
                                          title="{{ help_show_expr }}">
                                        {{ text_manufacturers_meta_title }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="seogenoc3[manufacturers_meta_title_template]"
                                                       value="{{ seogenoc3['manufacturers_meta_title_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_manufacturers_meta_title_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite" type="checkbox"
                                                   name="seogenoc3[manufacturers_meta_title_overwrite]"
                                                    {% if (seogenoc3['manufacturers_meta_title_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_manufacturers_meta_keyword }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="seogenoc3[manufacturers_meta_keyword_template]"
                                                       value="{{ seogenoc3['manufacturers_meta_keyword_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_manufacturers_meta_keyword_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[manufacturers_meta_keyword_overwrite]"
                                                    {% if (seogenoc3['manufacturers_meta_keyword_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip"
                                          title="{{ help_show_expr }}">{{ text_manufacturers_meta_description }}</span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="seogenoc3[manufacturers_meta_description_template]"
                                                       value="{{ seogenoc3['manufacturers_meta_description_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_manufacturers_meta_description_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[manufacturers_meta_description_overwrite]"
                                                    {% if (seogenoc3['manufacturers_meta_description_overwrite'] is defined) %} {{ "checked='checked'" }}{% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_meta_description_limit }}
                                </label>
                                <div class="col-sm-1">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="seogenoc3[manufacturers_meta_description_limit]"
                                                       class="form-control"
                                                       value="{{ seogenoc3['manufacturers_meta_description_limit'] }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="manufacturers_description_template">
                                    {{ text_manufacturers_description }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="form-group">
                                                <textarea class="summernote"
                                                          id="manufacturers_description_template"
                                                          cols="125"
                                                          rows="2"
                                                          data-toggle="summernote"
                                                          name="seogenoc3[manufacturers_description_template]">
                                                    {{ seogenoc3['manufacturers_description_template'] }}
                                                </textarea>
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_manufacturers_description_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[manufacturers_description_overwrite]"
                                                    {% if seogenoc3['manufacturers_description_overwrite'] is defined %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_use_expressions }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   class="form-control"
                                                   name="seogenoc3[manufacturers_use_expressions]"
                                                    {% if seogenoc3['manufacturers_use_expressions'] is defined %} {{ "checked='checked'" }} {% endif %}>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <button onclick="generate('manufacturers');"
                                                        class="btn btn-primary"
                                                        type="button">{{ text_generate }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-informations">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <button onclick="generate('informations');"
                                            class="btn btn-primary"
                                            type="button">
                                        {{ text_generate }}
                                    </button>
                                </div>
                                <div class="col-sm-10">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-1">
                                        <label>{{ entry_overwrite }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_categories }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="seogenoc3[informations_template]"
                                                       value="{{ seogenoc3['informations_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_informations_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[informations_overwrite]"
                                                    {% if (seogenoc3['informations_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip"
                                          title="{{ help_show_expr }}">
                                          {{ text_informations_meta_h1 }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="seogenoc3[informations_meta_h1_template]"
                                                       value="{{ seogenoc3['informations_meta_h1_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_informations_meta_h1_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite" type="checkbox"
                                                   name="seogenoc3[informations_meta_h1_overwrite]"
                                                    {% if (seogenoc3['informations_meta_h1_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip"
                                          title="{{ help_show_expr }}">
                                        {{ text_informations_meta_title }}
                                    </span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" name="seogenoc3[informations_meta_title_template]"
                                                       value="{{ seogenoc3['informations_meta_title_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_informations_meta_title_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite" type="checkbox"
                                                   name="seogenoc3[informations_meta_title_overwrite]"
                                                    {% if (seogenoc3['informations_meta_title_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_informations_meta_keyword }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="seogenoc3[informations_meta_keyword_template]"
                                                       value="{{ seogenoc3['informations_meta_keyword_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_informations_meta_keyword_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[informations_meta_keyword_overwrite]"
                                                    {% if (seogenoc3['informations_meta_keyword_overwrite'] is defined) %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <span data-toggle="tooltip"
                                          title="{{ help_show_expr }}">{{ text_informations_meta_description }}</span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="seogenoc3[informations_meta_description_template]"
                                                       value="{{ seogenoc3['informations_meta_description_template'] }}"
                                                       class="form-control">
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_informations_meta_description_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[informations_meta_description_overwrite]"
                                                    {% if (seogenoc3['informations_meta_description_overwrite'] is defined) %} {{ "checked='checked'" }}{% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_meta_description_limit }}
                                </label>
                                <div class="col-sm-1">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <input type="text"
                                                       name="seogenoc3[informations_meta_description_limit]"
                                                       class="form-control"
                                                       value="{{ seogenoc3['informations_meta_description_limit'] }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="informations_description_template">
                                    {{ text_informations_description }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="form-group">
                                                <textarea class="summernote"
                                                          id="informations_description_template"
                                                          cols="125"
                                                          rows="2"
                                                          data-toggle="summernote"
                                                          name="seogenoc3[informations_description_template]">
                                                    {{ seogenoc3['informations_description_template'] }}
                                                </textarea>
                                                <label>{{ '<span class="grey">' ~ text_available_tags ~ '</span>' ~ text_informations_description_tags }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <input class="overwrite"
                                                   type="checkbox"
                                                   name="seogenoc3[informations_description_overwrite]"
                                                    {% if seogenoc3['informations_description_overwrite'] is defined %} {{ "checked='checked'" }} {% endif %}>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    {{ text_use_expressions }}
                                </label>
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"
                                                   class="form-control"
                                                   name="seogenoc3[informations_use_expressions]"
                                                    {% if seogenoc3['informations_use_expressions'] is defined %} {{ "checked='checked'" }} {% endif %}>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <button onclick="generate('informations');"
                                                        class="btn btn-primary"
                                                        type="button">{{ text_generate }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <a id="generate_url" style="display: none" href="{{ generate }}"></a>
            <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
            <link href="view/javascript/summernote/summernote.css" rel="stylesheet"/>
            <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
            <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
            <script>
                function generate(selector) {
                    $(".alert-success").remove();

                    $('.summernote').each(function (i, e) {
                        if ($(this).code != undefined) {
                            $(this).val($(this).code());
                        }
                    });

                    var data = $('#tab-' + selector + ' :input, #seogen_language_id, #including :input').serialize()
                        + '&name=' + selector;
                    $.post($('#generate_url').attr('href'), data, function (html) {
                        $("#content > .container-fluid").prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' +
                            html +
                            '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                    });
                }

                function addProfile() {
                    $(".alert-success").remove();

                    var spn = $('input[name="seogenoc3_profile_name"]').val();
                    if (!spn) {
                        return;
                    }

                    $('.summernote').each(function (i, e) {
                        if ($(this).code != undefined) {
                            $(this).val($(this).code());
                        }
                    });

                    $.post('{{ action_profile_add }}', 'data=' + window.btoa($("#form-seogen").serialize()), function (json) {
                        if (json.result == "success" && json.profile_id > 0) {
                            $('#seogen_profile').append('<option data-id="' + json.profile_id + '" id="profile-' + json.profile_id + '">' + htmlEscape(spn) + '</option>');
                            $('#seogen_profile option[data-id="' + json.profile_id + '"]').prop('selected', true);
                        }
                    }, 'json');
                }

                function delProfile() {
                    var $seogenprofile = $('#seogen_profile option:selected');
                    var data_id = $seogenprofile.attr('data-id');
                    if (data_id == "0") {
                        return;
                    }
                    $.post('{{ action_profile_del }}', 'profile_id=' + data_id, function (json) {
                        if (json.result == "success") {
                            $('#profile-' + data_id).remove();
                        }
                    }, 'json');
                }

                function changeProfile(e) {
                    var $seogenprofile = $('#seogen_profile option:selected');
                    var data_id = $seogenprofile.attr('data-id');

                    if (data_id == "0") {
                        return;
                    }

                    $.post('{{ action_profile_get }}', 'profile_id=' + data_id, function (json) {
                        $('input[name="seogenoc3_profile_name"]').val($(e).val());

                        if (json.result == "success") {
                            $('input[type="checkbox"][name]').each(function (i, e) {
                                $e = $(e);
                                var matches = $(e).attr('name').match(/seogenoc3\[(.*)\]/);
                                if (matches) {
                                    $(e).prop('checked', json.profile[matches[1]] != undefined);
                                }
                            });

                            for (var name in json.profile) {
                                if (json.profile.hasOwnProperty(name)) {
                                    var val = json.profile[name];
                                    if (val instanceof Array) {
                                        for (var i = 0; i < val.length; ++i) {
                                            $(':input[name="seogenoc3[' + name + '][]"][value="' + val[i] + '"]').prop('checked', true);
                                        }
                                    } else {
                                        $(':input[name="seogenoc3[' + name + ']"]').val(val);
                                    }
                                }
                            }

                            $('.summernote').each(function (i, e) {
                                if ($(this).code != undefined) {
                                    $(this).val($(this).code());
                                }
                            });
                        }

                    }, 'json');
                }

                function htmlEscape(str) {
                    return String(str)
                        .replace(/&/g, '&amp;')
                        .replace(/"/g, '&quot;')
                        .replace(/'/g, '&#39;')
                        .replace(/</g, '&lt;')
                        .replace(/>/g, '&gt;');
                }
            </script>
        </div>
    </div>
{{ footer }}